<!doctype html>
<html>
  <head>
<style>
span {
  display: inline-block;
}
.status {
  width: 3.5em;
  text-align: center;
}
.name {
  min-width: 13em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0;
}
form {
  display: inline;
}
pre.logs {
  background-color: #EEE;
  margin: 0.5em 4.5em 0;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  max-height: 15em;
  min-height: 1.5em;
}
li.server {
  margin-bottom: 0.5em;
}
</style>
<script>
  const eventSource= new EventSource(`./logs`);
  var streams = new Map()

  function Setup() {
    [...document.getElementsByClassName("name")].forEach(elm => {
        StreamLogs(elm.innerHTML)
      })
  }

  function StreamLogs(serverName) {
    const logsElm = document.getElementById(`logs-${serverName}`);
    eventSource.addEventListener(serverName, function(event) {
        text = document.createTextNode(event.data+"\n");
        logsElm.appendChild(text);
      });
  }
</script>
  </head>
  <body onload="Setup();">
    <ul>
      {{range .}}
      <li class="server">
        {{if .Up}}
        <span class="status" style="color:darkgreen">UP</span>
        {{else}}
        <span class="status" style="color:red">DOWN</span>
        {{end}}

        <span class="name">{{.Name}}</span>

        <form method="post">
          <input type="hidden" name="name" value="{{.Name}}" />
          <button type="submit" name="submit" value="restart">Restart Server</button>
        </form>

        <pre class="logs" id="logs-{{.Name}}"></pre>

        {{if not .Up }}
        <p>{{.Message}}</p>
        {{end}}
      </li>
      {{end}}
    </ul>
  </body>
</html>
