name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests-and-demo:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6.2.0
      with:
        go-version-file: go.mod

    - name: Build daemon
      shell: bash
      run: |
        GOTOOLCHAIN=local go version
        GOTOOLCHAIN=local go build -v ./...

    - name: Vet daemon
      run: go vet ./...

    - name: Run daemon unit tests
      run: go test -race -v ./...

    - name: Test demo mode
      shell: bash
      run: |
        function endtest () {
          if [ "$RUNNER_OS" = "Windows" ]; then
            taskkill -im $1 -f -t
          else
            killall $1
          fi
        }
        if [ "$RUNNER_OS" = "Windows" ]; then BIN=daemon.exe; else BIN=daemon; fi
        (go build -o $BIN -race -v ./ && (mkdir -p quicktest && mv $BIN quicktest/)) || exit 1
        cd quicktest
        echo "password" | ./$BIN spawn >logs.txt 2>&1 & sleep 5; endtest $BIN
        cat logs.txt
        if [ -z "$(grep 'Token received' logs.txt)" ]; then exit 2; fi
        if [ -z "$(grep 'Obtained lease' logs.txt)" ]; then exit 3; fi
        if [ -z "$(grep 'https://127.0.0.1:8080/daemon/' logs.txt)" ]; then exit 4; fi

  test-auto-certs:
    runs-on: ubuntu-latest

    steps:
    - name: Clone daemon
      uses: actions/checkout@v4
      with:
        path: 'daemon'

    - name: Clone Pebble ACME Server
      uses: actions/checkout@v4
      with:
        repository: 'letsencrypt/pebble'
        ref: 'v2.7.0'
        path: 'pebble'

    - name: Set up Go
      uses: actions/setup-go@v6.2.0
      with:
        go-version-file: pebble/go.mod
        cache-dependency-path: |
          daemon/go.sum
          pebble/go.sum

    - name: Install portal
      run: |
        cd ./daemon/portal
        go install -race -v

    - name: Install Pebble ACME Server
      run: |
        cd ./pebble
        go install -v ./cmd/...
        echo "127.0.0.1 one.example" | sudo tee -a /etc/hosts
        echo "127.0.0.1 two.example" | sudo tee -a /etc/hosts

    - name: Test portal restart
      run: |
        cd ./pebble
        PEBBLE_WFE_NONCEREJECT=0 PEBBLE_AUTHZREUSE=0 pebble &
        cd ..

        sleep 5

        ACME_SERVER_CERT=./pebble/test/certs/pebble.minica.pem portal \
          -autocert_domains=one.example,two.example \
          -autocert_server=https://127.0.0.1:14000/dir \
          -http_port=5002 \
          -https_port=5001 \
          -cert_challenge_webroot='' &

        echo "Checking that portal serves the certs"
        FIRST_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FIRST_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)

        killall portal

        ACME_SERVER_CERT=./pebble/test/certs/pebble.minica.pem portal \
          -autocert_domains=one.example,two.example \
          -autocert_server=https://127.0.0.1:14000/dir \
          -http_port=5002 \
          -https_port=5001 \
          -cert_challenge_webroot='' &

        echo "Checking that portal loaded the same certs"
        SECOND_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        SECOND_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        diff <(echo "$FIRST_ONE_SERVED_CERT") <(echo "$SECOND_ONE_SERVED_CERT")
        diff <(echo "$FIRST_TWO_SERVED_CERT") <(echo "$SECOND_TWO_SERVED_CERT")

        killall portal
        killall pebble
        rm state.protodata

    - name: Test acme renew
      run: |
        cd ./pebble
        sed -i 's/"validityPeriod": *[0-9]\+/"validityPeriod": 10/g' ./test/config/pebble-config.json
        PEBBLE_VA_NOSLEEP=1 PEBBLE_WFE_NONCEREJECT=0 PEBBLE_AUTHZREUSE=0 pebble -config ./test/config/pebble-config.json &
        cd ..

        sleep 5

        ACME_SERVER_CERT=./pebble/test/certs/pebble.minica.pem portal \
          -autocert_domains=one.example,two.example \
          -autocert_server=https://127.0.0.1:14000/dir \
          -http_port=5002 \
          -https_port=5001 \
          -cert_challenge_webroot='' &

        echo "Checking that portal serves the certs"
        FIRST_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FIRST_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)

        sleep 15

        echo "Checking that portal renewed the certs"
        SECOND_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        SECOND_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        DIFFONE=$(diff <(echo "$FIRST_ONE_SERVED_CERT") <(echo "$SECOND_ONE_SERVED_CERT"); exit 0)
        if [ -z "$DIFFONE" ]; then
          echo "The one.example cert is the same as it was before and we meant to renew!"
          echo "$SECOND_ONE_SERVED_CERT"
          echo "$SECOND_TWO_SERVED_CERT"
          exit 1
        fi
        DIFFTWO=$(diff <(echo "$FIRST_TWO_SERVED_CERT") <(echo "$SECOND_TWO_SERVED_CERT"); exit 0)
        if [ -z "$DIFFTWO" ]; then
          echo "The two.example cert is the same as it was before and we meant to renew!"
          echo "$SECOND_ONE_SERVED_CERT"
          echo "$SECOND_TWO_SERVED_CERT"
          exit 1
        fi

        killall portal
        killall pebble
        rm state.protodata

    - name: Test acme renew on restart
      run: |
        cd ./pebble
        sed -i 's/"validityPeriod": *[0-9]\+/"validityPeriod": 10/g' ./test/config/pebble-config.json
        PEBBLE_VA_NOSLEEP=1 PEBBLE_WFE_NONCEREJECT=0 PEBBLE_AUTHZREUSE=0 pebble -config ./test/config/pebble-config.json &
        cd ..

        sleep 5

        ACME_SERVER_CERT=./pebble/test/certs/pebble.minica.pem portal \
          -autocert_domains=one.example,two.example \
          -autocert_server=https://127.0.0.1:14000/dir \
          -http_port=5002 \
          -https_port=5001 \
          -cert_challenge_webroot='' &

        echo "Checking that portal serves the certs"
        FIRST_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FIRST_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)

        killall portal

        ACME_SERVER_CERT=./pebble/test/certs/pebble.minica.pem portal \
          -autocert_domains=one.example,two.example \
          -autocert_server=https://127.0.0.1:14000/dir \
          -http_port=5002 \
          -https_port=5001 \
          -cert_challenge_webroot='' &

        sleep 12

        echo "Checking that portal renewed the certs"
        SECOND_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        SECOND_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        DIFFONE=$(diff <(echo "$FIRST_ONE_SERVED_CERT") <(echo "$SECOND_ONE_SERVED_CERT"); exit 0)
        if [ -z "$DIFFONE" ]; then
          echo "The one.example cert is the same as it was before and we meant to renew!"
          echo "$SECOND_ONE_SERVED_CERT"
          echo "$SECOND_TWO_SERVED_CERT"
          exit 1
        fi
        DIFFTWO=$(diff <(echo "$FIRST_TWO_SERVED_CERT") <(echo "$SECOND_TWO_SERVED_CERT"); exit 0)
        if [ -z "$DIFFTWO" ]; then
          echo "The two.example cert is the same as it was before and we meant to renew!"
          echo "$SECOND_ONE_SERVED_CERT"
          echo "$SECOND_TWO_SERVED_CERT"
          exit 1
        fi

        killall portal
        killall pebble
        rm state.protodata

  test-certbot-certs:
    runs-on: ubuntu-latest

    steps:
    - name: Clone daemon
      uses: actions/checkout@v4
      with:
        path: 'daemon'

    - name: Clone Pebble ACME Server
      uses: actions/checkout@v4
      with:
        repository: 'letsencrypt/pebble'
        ref: 'v2.7.0'
        path: 'pebble'

    - name: Set up Go
      uses: actions/setup-go@v6.2.0
      with:
        go-version-file: pebble/go.mod
        cache-dependency-path: |
          daemon/go.sum
          pebble/go.sum

    - name: Install certbot
      run: |
        sudo apt-get update
        sudo apt-get install snapd
        sudo snap install core && sudo snap refresh core
        sudo snap install --classic certbot && sudo ln -s /snap/bin/certbot /usr/bin/certbot

    - name: Install daemon
      run: |
        cd ./daemon
        go install -race -v

    - name: Install and Run Pebble ACME Server
      run: |
        cd ./pebble
        go install -v ./cmd/...
        PEBBLE_WFE_NONCEREJECT=0 PEBBLE_AUTHZREUSE=0 pebble &
        echo "127.0.0.1 one.example" | sudo tee -a /etc/hosts
        echo "127.0.0.1 two.example" | sudo tee -a /etc/hosts

    - name: Test spawn & portal pipe file
      run: |
        export REQUESTS_CA_BUNDLE=./pebble/test/certs/pebble.minica.pem
        sudo --preserve-env certbot certonly --standalone -d one.example --agree-tos --non-interactive --http-01-port 5002 --server https://127.0.0.1:14000/dir
        sudo --preserve-env certbot certonly --standalone -d two.example --agree-tos --non-interactive --http-01-port 5002 --server https://127.0.0.1:14000/dir

        mkdir -p p/cert-challenge

        cat <<EOT > config.pbtxt
        command {
          binary: "portal"
          user: "runner"
          working_dir: "./p/"
          files: [
            "/etc/letsencrypt/live/one.example/fullchain.pem",
            "/etc/letsencrypt/live/one.example/privkey.pem"
          ]
          files: [
            "/etc/letsencrypt/live/two.example/fullchain.pem",
            "/etc/letsencrypt/live/two.example/privkey.pem"
          ]

          args: "-http_port=5002"
          args: "-https_port=5001"
        }
        EOT
        echo "password" | sudo env "PATH=$PATH" daemon spawn &
        sleep 4

        echo "Checking that portal serves the certbot cert"
        FIRST_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FILE_CERT=$(sudo openssl x509 -inform pem -text -in /etc/letsencrypt/live/one.example/fullchain.pem)
        diff <(echo "$FIRST_ONE_SERVED_CERT") <(echo "$FILE_CERT")
        FIRST_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FILE_CERT=$(sudo openssl x509 -inform pem -text -in /etc/letsencrypt/live/two.example/fullchain.pem)
        diff <(echo "$FIRST_TWO_SERVED_CERT") <(echo "$FILE_CERT")

        echo "Renewing cert using portal webroot"
        sudo --preserve-env certbot certonly --webroot -w ./p/cert-challenge -d one.example --force-renew --agree-tos --non-interactive --http-01-port 5002 --server https://127.0.0.1:14000/dir
        sudo --preserve-env certbot certonly --webroot -w ./p/cert-challenge -d two.example --force-renew --agree-tos --non-interactive --http-01-port 5002 --server https://127.0.0.1:14000/dir
        sudo killall -SIGUSR1 {daemon,portal}
        sleep 1

        echo "Checking that portal serves the renewed cert"
        SECOND_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FILE_CERT=$(sudo openssl x509 -inform pem -text -in /etc/letsencrypt/live/one.example/fullchain.pem)
        diff <(echo "$SECOND_ONE_SERVED_CERT") <(echo "$FILE_CERT")
        DIFF=$(diff <(echo "$FIRST_ONE_SERVED_CERT") <(echo "$SECOND_ONE_SERVED_CERT"); exit 0)
        if [ -z "$DIFF" ]; then
          echo "The one.example cert is the same as it was before and we meant to renew!"
          exit 1
        fi
        SECOND_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FILE_CERT=$(sudo openssl x509 -inform pem -text -in /etc/letsencrypt/live/two.example/fullchain.pem)
        diff <(echo "$SECOND_TWO_SERVED_CERT") <(echo "$FILE_CERT")
        DIFF=$(diff <(echo "$FIRST_TWO_SERVED_CERT") <(echo "$SECOND_TWO_SERVED_CERT"); exit 0)
        if [ -z "$DIFF" ]; then
          echo "The two.example cert is the same as it was before and we meant to renew!"
          exit 1
        fi

        sudo certbot delete --non-interactive --cert-name one.example
        sudo certbot delete --non-interactive --cert-name two.example
        sudo killall daemon
        rm -rf ./p
        rm config.pbtxt

    - name: Test portal only plain file
      run: |
        export REQUESTS_CA_BUNDLE=./pebble/test/certs/pebble.minica.pem
        sudo --preserve-env certbot certonly --standalone -d one.example --agree-tos --non-interactive --http-01-port 5002 --server https://127.0.0.1:14000/dir
        sudo --preserve-env certbot certonly --standalone -d two.example --agree-tos --non-interactive --http-01-port 5002 --server https://127.0.0.1:14000/dir

        mkdir -p p/cert-challenge

        sudo cp /etc/letsencrypt/live/one.example/fullchain.pem p/one-cert.pem
        sudo cp /etc/letsencrypt/live/one.example/privkey.pem p/one-key.pem
        sudo cp /etc/letsencrypt/live/two.example/fullchain.pem p/two-cert.pem
        sudo cp /etc/letsencrypt/live/two.example/privkey.pem p/two-key.pem
        sudo chown runner:docker ./p/*.pem

        cd p
        daemon portal -http_port=5002 -https_port=5001 -tls_cert='one-cert.pem,two-cert.pem' -tls_key='one-key.pem,two-key.pem' &
        cd ..
        sleep 2

        echo "Checking that portal serves the certbot cert"
        FIRST_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FILE_CERT=$(openssl x509 -inform pem -text -in p/one-cert.pem)
        diff <(echo "$FIRST_ONE_SERVED_CERT") <(echo "$FILE_CERT")
        FIRST_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FILE_CERT=$(openssl x509 -inform pem -text -in p/two-cert.pem)
        diff <(echo "$FIRST_TWO_SERVED_CERT") <(echo "$FILE_CERT")

        echo "Renewing cert using portal webroot"
        sudo --preserve-env certbot certonly --webroot -w ./p/cert-challenge -d one.example --force-renew --agree-tos --non-interactive --http-01-port 5002 --server https://127.0.0.1:14000/dir
        sudo --preserve-env certbot certonly --webroot -w ./p/cert-challenge -d two.example --force-renew --agree-tos --non-interactive --http-01-port 5002 --server https://127.0.0.1:14000/dir
        sudo cp /etc/letsencrypt/live/one.example/fullchain.pem p/one-cert.pem
        sudo cp /etc/letsencrypt/live/one.example/privkey.pem p/one-key.pem
        sudo cp /etc/letsencrypt/live/two.example/fullchain.pem p/two-cert.pem
        sudo cp /etc/letsencrypt/live/two.example/privkey.pem p/two-key.pem
        sudo chown runner:docker p/*.pem
        killall -SIGUSR1 daemon
        sleep 1

        echo "Checking that portal serves the renewed cert"
        SECOND_ONE_SERVED_CERT=$(openssl s_client -connect one.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FILE_CERT=$(openssl x509 -inform pem -text -in p/one-cert.pem)
        diff <(echo "$SECOND_ONE_SERVED_CERT") <(echo "$FILE_CERT")
        DIFF=$(diff <(echo "$FIRST_ONE_SERVED_CERT") <(echo "$SECOND_ONE_SERVED_CERT"); exit 0)
        if [ -z "$DIFF" ]; then
          echo "The one.example cert is the same as it was before and we meant to renew!"
          exit 1
        fi
        SECOND_TWO_SERVED_CERT=$(openssl s_client -connect two.example:5001 </dev/null 2>/dev/null | openssl x509 -inform pem -text)
        FILE_CERT=$(openssl x509 -inform pem -text -in p/two-cert.pem)
        diff <(echo "$SECOND_TWO_SERVED_CERT") <(echo "$FILE_CERT")
        DIFF=$(diff <(echo "$FIRST_TWO_SERVED_CERT") <(echo "$SECOND_TWO_SERVED_CERT"); exit 0)
        if [ -z "$DIFF" ]; then
          echo "The two.example cert is the same as it was before and we meant to renew!"
          exit 1
        fi

        sudo certbot delete --non-interactive --cert-name one.example
        sudo certbot delete --non-interactive --cert-name two.example
        killall daemon
        rm -rf ./p
